// @use "bootstrap/scss/bootstrap" as * with ($info: #5c728f);

@use "includes/components/table";
@use "includes/components/jumbotron";
@use "includes/components/challenge";
@use "includes/components/graphs";
@use "includes/components/navigation";

@use "includes/utils/fonts";
@use "includes/utils/opacity";
@use "includes/utils/min-height";
@use "includes/utils/cursors";
@use "includes/utils/lolight";

@use "includes/icons/award-icons";
@use "includes/icons/flag-icons";

h1,
h2 {
  font-weight: 500;
  letter-spacing: 2px;
}

a {
  text-decoration: none !important;
}

button, img {
  user-select: none;
}

blockquote {
  border-left: 4px solid gray;
  padding-left: 15px;
}

.fa-spin.spinner {
  text-align: center;
  opacity: 0.5;
}

.badge-notification {
  vertical-align: top;
  margin-left: -1.5em;
  font-size: 50%;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  background-size: 8px 10px;
}

html,
body,
.root {
  background: #343a40;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

.root {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: stretch;
}

header {
  padding: 10px 30px;
  h1 {
    margin:0;
  }
}

main {
  background: #444c53;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.alert-box {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 500px;
  max-height:50vh;
  overflow: auto;
  z-index: 1031;

  .alert {
    width:100%;
    border:5px solid;
    border-radius: 10px;
    padding:10px;
    margin-bottom:10px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    opacity: 0.6;

    &:hover{
      opacity: 1;
    }

    &.alert-info{
      background-color: rgb(255, 200, 97);
      border-color: orange;
    }
    &.alert-error{
      background-color: rgb(255, 113, 113);
      border-color: rgb(255, 52, 52);
    }

    p {
      color:black;
      width: 100%;
      font-size: 1.2em;
      margin:5px;
    }
    button{
      color: black;
      font-size: 1.2em;
      background: #ffffff30;
      padding:10px;
      border: 3px solid rgb(18, 18, 18);
      border-radius: 5px;
      outline:none;
      align-self: stretch;

      &:hover{
        background:#ffffff88;
      }
    }
  }
}

footer {
  user-select: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  .footer-elem {
    font-size: 1em;
    display: inline-block;

    margin: 5px 10px 10px 10px;
    padding: 5px 10px;
    
    border-style: none;
    border-radius: 5px;
    outline:none;

    background: transparent;
    transition: background-color 0.2s;

    &:hover {
      background-color: #494e52;
    }

    .footer-highlight {
      margin-right: 5px;
      font-size: 0.8em;
      padding: 4px;
      border: 2px solid gray;
      border-radius: 3px;
    }
  }
}

div, img, main {
  box-sizing: border-box;
}