@use "~/@fontsource/chakra-petch/scss/mixins" as Chakra;
@use "~/@fontsource-variable/nunito-sans/scss/mixins" as Nunito;
@use "~/@fontsource-variable/noto-sans-kr/scss/mixins" as Notosanskr;

@include Chakra.faces($directory: "../webfonts");
@include Nunito.faces($directory: "../webfonts");
@include Notosanskr.faces($directory: "../webfonts");

* {
  color: white;
  font-family: "Nunito Sans Variable", "Noto Sans KR Variable", sans-serif;
}

button {
  color: white;
}

.font-title {
  font-family: "Chakra Petch";
}
