{% extends "base.html" %}

{% block header %}
<h1>
  {% trans %}Challenges{% endtrans %}
</h1>
{% endblock %}
{% block content %}
<div class="alert-box">
  <div class="col-md-12">
    {% include "components/errors.html" %}
  </div>
</div>

<div x-ref="challengeWindow" id="challenge-window" class="modal fade" tabindex="-1" role="dialog" x-data=""
  x-html="$store.challenge.data.view"></div>


<div x-data="ChallengeBoard"
  @load-challenge.window="loadChallenge($event.detail)" @wheel.passive.window.throttle.10ms="handleWheel"
  style="width:100%; height:100%; padding:0; margin:0;"
  >
  <div x-show="!loaded">
    <div style="display:flex; justify-content:center; align-items:center; width:100%; height:100%; flex-grow:1;">
      <div style="text-align:center;">
        <i class="fas fa-circle-notch fa-spin fa-3x"></i>
      </div>
    </div>
  </div>
  
  <div class="challenge-board" x-cloak x-show="loaded">
    <div x-data="ChallengeInfo" x-cloak class="challenge-info" @update-challenge.window="handleUpdateChallenge" :class="((!challenge.detail) || loading) ? 'challenge-info-loading' : ''">
      <div class="challenge-info-head">
        <img class="challenge-info-img" x-ref="challenge_info_img" :src="getChallengeThumbnail(challenge) ?? ''" draggable="false" @load="loading=false" alt=""/>
        <span class="challenge-info-category" x-text="challenge.category.toUpperCase()"></span>
        <div class="challenge-info-overlay">
          <h2 class="challenge-info-name" x-text="challenge.name"></h2>
          <div class="challenge-info-difficulty">
            <template x-for="i in getChallengeDifficulty(challenge)">
              <img src="{{ url_for('views.themes', path='img/star.svg' ) }}" />
            </template>
          </div>
        </div>
      </div>
      <p><span class="challenge-info-value" x-text="$store.info.currentChallenge()?.value"></span> points</p>
      <p><span class="challenge-info-solves" x-text="$store.info.currentChallenge()?.solves"></span> solves</p>
      
    </div>

    <div class="challenge-select">
      <div class="category-list">
        <template x-for="category in $store.info.categories">
          <button class="category-elem" x-text="category"></button>
        </template>
      </div>
      <div class="challenge-list">
        <template x-for="(c, idx) in $store.info.getChallengesOf($store.info.selection.category)" :key="c.id">
          <button class="challenge-button"
            :class="(c.solved_by_me ? 'challenge-solved ' : '') +($store.info.selection.challenge_idx==idx ? 'challenge-selected' : '')"
            :value="c.id" @click="
              if($store.info.currentChallengeId()===c.id){
                $dispatch('open-details')
              } else { 
                $store.info.selectChallenge(c.id) 
              }">
            <div class="challenge-background"></div>
            <p x-text="c.name"></p>
            <div>
              <span x-text="c.value"></span>
              (<span x-text="c.solves"></span> solves)
            </div>
          </button>
        </template>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

<button class="footer-elem" 
  x-data
  @keydown.window.up.prevent="$store.info.selectPreviousChallenge()"
  @keydown.window.down.prevent="$store.info.selectNextChallenge()">
  <span class="footer-highlight">↑↓</span>
  Select challenge
</button>

<button class="footer-elem" 
  x-data
  @click="$dispatch('open-details')"
  @keydown.window.Enter.prevent="$dispatch('open-details')">
  <span class="footer-highlight">Enter</span>
  Open details
</button>

<button class="footer-elem" 
  x-data
  @click="$dispatch('open-navigation')"
  @keydown.window.Escape.prevent="$dispatch('open-navigation')">
  <span class="footer-highlight">Esc</span>
  Open menu
</button>

{% endblock %}

{% block scripts %}
{{ Assets.js("assets/js/challenges.js") }}
{% endblock %}