<div role="document" x-data="{current: 'challenge'}">
  <div class="challenge-details-tabs">
    <button class="nav-link active" @click="current = 'challenge'">
      Challenge
    </button>
    <button class="challenge-solves" @click="current = 'solves'; showSolves();">
      Solves
    </button>
  </div>
  <div x-show="current == 'challenge'" class="challenge-details-content challenge-details-challenge">
    <div style="flex-grow: 1;">
      <!--
      <h2 class="challenge-details-name">
        {{ challenge.name }}
      </h2>
      <h3 class="challenge-details-value">
        {{ challenge.value }}
      </h3>


      {% if tags %}
        <div class="challenge-details-tags">
          {% block tags %}
            {% for tag in tags %}
              <span class="challenge-details-tag">{{ tag }}</span>
            {% endfor %}
          {% endblock %}
        </div>
      {% endif %}
      -->

      <span class="challenge-details-desc">{% block description %}{{ challenge.html }}{% endblock %}</span>

      {% if challenge.connection_info %}
        <div class="mb-2">
          <span class="challenge-details-connection-info">
            {% block connection_info %}
              {% set conn = challenge.connection_info %}
              {% if not conn %}
              {% elif conn.startswith("http") %}
                {{ conn | urlize(target="_blank") }}
              {% else %}
                <code>{{ conn }}</code>
              {% endif %}
            {% endblock %}
          </span>
        </div>
      {% endif %}

      {% if hints %}
        <div class="challenge-details-hints">
          <div class="col-12 mb-3">
          {% for hint in hints | sort(attribute="cost") %}
            <div x-data="Hint" x-init="id = {{ hint.id }}">
              {% if hint.content %}
              <details>
                <summary>{% trans %}View Hint{% endtrans %}</summary>
                <div>{{ hint.html | safe }}</div>
              </details>
              {% else %}
              <details @toggle="showHint(event)">
                <summary>Unlock Hint for {{ hint.cost }} point{{ hint.cost|pluralize }}</summary>
                <div x-html="html"></div>
              </details>
              {% endif %}
            </div>
          {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if files %}
        <div class="challenge-details-files">
          {% for file in files %}
            <div class="challenge-details-file">
              {% set segments = file.split('/') %}
              {% set token = file.split('?') | last %}
              {% if token %}
                {% set filename = segments | last | replace("?" + token, "") %}
              {% else %}
                {% set filename = segments | last %}
              {% endif %}
              <a
                  href="{{ file }}"
                  title="{{ filename }}"
              >
                {{ filename }}
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <template x-if="max_attempts > 0">
        <p class="text-center">
          <span x-text="attempts"></span>/<span x-text="max_attempts"></span> {% trans c=max_attempts %}attempt{% pluralize %}attempts{% endtrans %}
        </p>
      </template>
    </div>
    <div class="challenge-details-submitbox">
      {% block input %}
        <input
            id="challenge-input" class="challenge-details-input"
            type="text" name="submission"
            @keydown.enter="submitChallenge()"
            placeholder="{% trans %}Flag{% endtrans %}" x-model="submission"
        >
      {% endblock %}
      {% block submit %}
        <button
            id="challenge-details-submit"
            class="challenge-submit" type="submit"
            @click.debounce.500ms="submitChallenge()"
        >
          {% trans %}Submit{% endtrans %}
        </button>
      {% endblock %}
    </div>

    <div class="row notification-row">
      <div class="col-12">
        <template x-if="response">
          {# This alert is re-used for all alerts, so it's important not to make it dismissible #}
          <div class="alert text-center w-100 mt-3"
              :class="{
                'alert-success': response.data.status == 'correct',
                'alert-info': response.data.status == 'already_solved',
                'alert-danger': response.data.status == 'incorrect',
              }" role="alert"
          >
            <strong x-text="response.data.message"></strong>
            <div x-show="(response.data.status == 'correct' || response.data.status == 'already_solved')">
              <div x-show="getNextId()">
                <button @click="nextChallenge()" class="btn btn-info mt-3">
                  {% trans %}Next Challenge{% endtrans %}
                </button>
              </div>
              {% if Configs.social_shares %}
              <div>
                <button x-show="!share_url" @click="getShareUrl()" class="btn btn-sm btn-outline-info mt-3">
                  {% trans %}Share{% endtrans %}
                </button>
                <div class="btn-group mt-3" role="group" x-show="share_url">
                  <button type="button" class="btn btn-sm btn-outline-secondary" @click="copyShareUrl()" data-bs-toggle="tooltip" data-bs-title="Copied!">
                    <i class="fa-solid fa-copy"></i>
                  </button>
                  <a :href="'https://twitter.com/intent/tweet?url=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                  <a :href="'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a :href="'http://www.linkedin.com/shareArticle?url=' + encodeURIComponent(share_url)" role="button" class="btn btn-sm btn-outline-secondary" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </template>
      </div>
    </div>
  </div> <!-- challenge tab -->

  <div x-show="current == 'solves'" class="challenge-details-content challenge-details-solves">
    <span x-show="!solves">Loading...</span>
    <table x-show="solves">
      <thead>
      <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Date{% endtrans %}</th>
      </tr>
      </thead>
      <tbody id="challenge-solves-names">
      <template x-for="solve in solves">
        <tr>
          <td>
            <a :href="solve.account_url" x-text="solve.name"></a>
          </td>
          <td x-text="solve.date"></td>
        </tr>
      </template>
      </tbody>
    </table>
  </div> <!-- solves tab-->
</div>
