/* Challenge styles
-------------------------------------------------- */

@property --category-grad {
  syntax: "<image>";
  inherits: true;
  initial-value: linear-gradient(to right, #000000, #9e9e9e);
}

@property --category-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #3a3a3a;
}

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-board {
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;

  .challenge-info {
    $challenge-info-size: 500px;
    background: rgba(93, 93, 93, 0.274);
    width: $challenge-info-size;
    margin: 20px 30px;
    padding: 5px;
    box-shadow: #000000ab 3px 4px 9px 0px;

    transition: transform 0.1s;

    &.challenge-info-loading {
      transform: rotateX(-90deg) translateY(50%) perspective(500px);
    }

    .challenge-info-head {
      width: 100%;
      aspect-ratio: 1/1;
      position: relative;

      .challenge-info-img {
        display: block;
        width: 100%;
        height: 100%;
        user-select: none;
        object-fit: cover;
      }

      .challenge-info-category {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 120px;
        height: 30px;
        padding-right: 5px;

        text-align: center;
        background: var(--category-grad);
        mask: linear-gradient(120deg, black 87%, transparent 87%);

        color: white;
        font-size: 1.4em;
        line-height: 30px;
      }

      .challenge-info-overlay {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 40%;

        background: #464646aa;
        color: white;

        .challenge-info-name {
          margin: 2px;
          margin-bottom: 10px;
          font-size: 3em;
        }

        .challenge-info-difficulty {
          img {
            margin: 3px;
          }
        }

        .challenge-info-solved {
          display: block;
          align-self: flex-end;
          margin: 15px;
        }
      }
    }

    p {
      font-size: 1.4em;
      margin: 10px;
    }
  }

  .challenge-select {
    user-select: none;
    margin: 20px 30px;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;

    .category-list {
      background-color: #33333366;

      .category-elem {
        font-size: 1em;
        color: gray;
        background: transparent;

        display: inline-block;
        margin: 10px;
        padding: 5px 20px;

        border: 5px solid gray;

        &:hover {
          border-image: var(--category-grad) 5;
        }

        &.category-selected {
          color: white;
          background: var(--category-grad);
          border-image: var(--category-grad) 5;
        }
      }
    }

    .challenge-list {
      flex-grow: 1;
    }
  }
}

.challenge-button {
  z-index: 15;
  position: relative;
  background: transparent;
  border: none;
  border-left: 6px solid var(--category-color);

  margin: 10px 0px;
  padding: 0.7rem;

  width: 100%;
  max-height: 100px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background: #ffffff44;
  }

  .challenge-button-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: var(--category-grad);
    transition: width 0.2s;
  }

  &.challenge-selected {
    .challenge-button-background {
      width: 100%;
    }
  }

  .challenge-button-name {
    font-size: 1.7rem;
    margin: auto 10px;
  }
  .challenge-button-difficulty {
    img {
      vertical-align: middle;
      margin: 2px;
    }
  }
  .challenge-button-value {
    font-size: 1.5rem;
    color: rgb(255, 153, 0);
  }

  .challenge-button-solved {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: auto 2rem;
  }
}

// per category variable definitions
.category-rev {
  --category-grad: linear-gradient(to right, #f8a100, #9200b7);
  --category-color: #ff8800;
}
.category-pwn {
  --category-grad: linear-gradient(to right, #0e22ff, #85c6fb);
  --category-color: #0080ff;
}
