/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-board {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: 5px 0px;

  .challenge-info {
    background: linear-gradient(to bottom, green, cyan);
    width: 300px;
    max-height: 400px;
    margin: 0px 30px;
  }

  .challenge-list {
    margin: 0px 30px;
    flex-grow: 1;
  }
}

.challenge-button {
  z-index: 15;
  position: relative;
  background: transparent;
  border: none;
  border-left: 6px solid rgb(0, 97, 188);

  &:hover {
    background: #ffffff44;
  }

  margin: 5px 0px;
  padding: 0;

  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  >span,
  p {
    margin: 0px 20px;
  }

  @keyframes selection {
    from {
      width: 6px;
      display: block;
    }

    to {
      width: 100%;
      display: block;
    }
  }

  .challenge-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    transition: width 0.2s;
    background: blue;
  }

  &.challenge-selected {
    .challenge-background {
      animation: selection 0.2s ease-in forwards;
      background: linear-gradient(to right, rgb(248, 161, 0), rgb(146, 0, 183));
    }
  }
}